/*-- scss:defaults --*/

$body-bg: #0f151a;
$body-color: #e7edf0;
$link-color: #8fd8c1;
$link-hover-color: #b4eadb;
$border-color: #33424a;

$code-color: #e7edf0;
$code-block-bg: #172026;
$code-block-color: #e7edf0;

$navbar-bg: #111a20;
$navbar-fg: #e7edf0;
$navbar-hl: #8fd8c1;

$dropdown-bg: #172026;
$dropdown-color: #e7edf0;
$dropdown-link-color: #e7edf0;
$dropdown-link-hover-bg: #1d2a33;
$dropdown-link-hover-color: #b4eadb;

$card-bg: #172026;
$popover-bg: #172026;
$modal-content-bg: #172026;
$list-group-bg: #172026;
